{% extends 'base1.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block titulo %}Cursos{% endblock %}
{% block conteudo %}
  <main id="main">
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">
              <div class="contact col-lg-12" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
              <div class="row">
                <div class="col-md-12">
                <div class="info-box">
                  <h2 class="entry-title">
                    Cursos de Aperfeiçoamento
                  </h2>
                  <p>
                    <span><code>* Cursos de aperfeiçoamento na área da Educação com carga horária de no mínimo 120 horas.</code></span>
                    <br><span><code>* Nos termos do art. 6º, do Decreto Nº 33, de 23 de Outubro de 2023.</code></span>
                  </p>
                </div>
              </div>
               <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{formset.management_form}}
                    <div class="row">
                        {% for form in formset %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="col-md-6">
                            <div class="info-box" style="padding: 20px;">
                                {{forloop.counter}}
                                {% for field in form.visible_fields %}
                                  {{ field.label }}
                                  {{ field }}
                                <code>{{ field.field.help_text }}</code>
                                 <br>
                                {% endfor %}
                              </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br><div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Progresso da inscrição 60%</div>
                    </div><br><hr>
                    <button type="submit" class="btn btn-outline-primary">Salvar e Continuar</button>
                </form>
              </div>
          </div><!-- End Contact Section -->
        </div>

      </div>
    </section>
  </main>
{% endblock %}