{% extends 'base1.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block titulo %}Resumo Análise{% endblock %}
{% block conteudo %}
{% if user.is_administrator %}
<main id="main">
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-4">
          <div class="sidebar">
            {% if  professor.foto %}
            <img class="img-thumbnail" src="{{professor.foto.url}}">
            {% else %}
            <img class="img-thumbnail" src="{% static 'assets/img/icone.jpg'%}">
            {% endif %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">{{professor.nome}}</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">RG:</span> {{professor.rg}}</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">CPF: </span>{{professor.cpf}}</li>
              <li class="list-group-item fw-bold text-primary">Solicitação de Ampliação</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">1º Opção: </span>{% if professor.inscricao.opcao1 != None%}{{professor.inscricao.opcao1}}{% else %}{% endif %}</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">2º Opção: </span>{% if professor.inscricao.opcao2 != None%}{{professor.inscricao.opcao2}}{% else %}{% endif %}</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">3º Opção: </span>{% if professor.inscricao.opcao3 != None%}{{professor.inscricao.opcao3}}{% else %}{% endif %}</li>
              <li class="list-group-item fw-bold text-primary">Informações do Concurso</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">Ano de Realização: </span>{{professor.inscricao.concurso.realizacao}}</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">Cargo: </span>{{professor.inscricao.concurso.area}}</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">Data de Posse: </span>{{professor.inscricao.concurso.posse}}</li>
            </ul>
          </div><!-- End sidebar -->
          <div class="sidebar">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="font-size: 0.9rem;">
                <a href="{% url 'inscricao:relatorio' pk=professor.pk %}" target="_blank">Gerar Relatório</a>
              </li>
            </ul>
          </div><!-- End sidebar -->

        </div>
        <div class="col-lg-8 entries">
          <article class="entry entry-single">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Situação: {{resultado.resultado}}</h5>
                <p class="card-text">{{resultado.comentario}}</p>
                <hr>
                  <div class="d-grid gap-2 justify-content-md-end">
                    <div class="row">
                    <div class="col-md-6">
                      <a href="{% url 'inscricao:up_teste' pk=professor.pk %}" class="btn btn-outline-success btn-sm">Editar</a>
                    </div>
                    <div class="col-md-6">
                      <a href="{% url 'professor:administrador' %}" class="btn btn-outline-danger btn-sm">Voltar</a>
                    </div>
                    </div>
                  </div>
              </div>
            </div>
          </article>

          <article class="entry entry-single">
            <h4 class="text-center">
              Informações Iniciais da Inscrição
            </h4>
            <hr>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col" style="font-weight:600;">Nome</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visualizar</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visto</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Termo de Posse</td>
                <td class="text-center">
                  <a href="{{professor.inscricao.nomeacao.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                </td>
                <td class="text-center">
                    {% if professor.inscricao.visto == '0' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle" viewBox="0 0 16 16">
                      <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"/>
                    </svg>
                    {% elif professor.inscricao.visto == '1' %}
                    <span class="text-success">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                        <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                        <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708"/>
                      </svg>
                    </span>
                    {% elif professor.inscricao.visto == '2' %}
                      <span class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                      </span>
                    {% endif %}
                    </td>
              </tr>
              <tr>
                <td>Diploma</td>
                <td class="text-center">
                  <a href="{{professor.inscricao.diploma.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                </td>
                <td class="text-center">
                    {% if professor.inscricao.visto == '0' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle" viewBox="0 0 16 16">
                      <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"/>
                    </svg>
                    {% elif professor.inscricao.visto == '1' %}
                    <span class="text-success">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                        <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                        <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708"/>
                      </svg>
                    </span>
                    {% elif professor.inscricao.visto == '2' %}
                      <span class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                      </span>
                    {% endif %}
                    </td>
              </tr>
              <tr>
                {% if professor.inscricao.diploma1.url != None %}
                <td>Diploma 1 </td>
                <td class="text-center">
                  <a href="{{professor.inscricao.diploma1.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                </td>
                {% else %}
                {% endif %}

              </tr>
              <tr>
                {% if professor.inscricao.diploma2.url != None %}
                <td>Diploma 2 </td>
                <td class="text-center">
                  <a href="{{professor.inscricao.diploma2.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                </td>
                {% else %}
                {% endif %}

              </tr>

              </tbody>
            </table>
          </article>

          <article class="entry entry-single">
            <h4 class="text-center">
              Informações Acadêmicas
            </h4>
            <hr>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col" style="font-weight:600;"></th>
                <th scope="col" style="font-weight:600;">Nome</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visualizar</th>
                <th scope="col" style="font-weight:600;" class="text-center">Aprovado</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Formação</td>
                <td>
                  {{professor.inscricao.informacoes_academicas.area_formacao}}
                </td>
                <td></td>
                <td></td>
              </tr>
              {% if  professor.inscricao.informacoes_academicas.area_especializacao != None%}
              <tr>
                <td>Formação(Espec)</td>
                <td> {{professor.inscricao.informacoes_academicas.area_especializacao}}</td>
                <td class="text-center">
                  <a href="{% if professor.inscricao.informacoes_academicas.anexoChecar %}{{professor.inscricao.informacoes_academicas.anexo.url}}{% endif %}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                </td>
                <td class="text-center">
                    {% if professor.inscricao.informacoes_academicas.info_visto == '0' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle" viewBox="0 0 16 16">
                      <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"/>
                    </svg>
                    {% elif professor.inscricao.informacoes_academicas.info_visto == '1' %}
                    <span class="text-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                      <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                      <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708"/>
                    </svg>
                    </span>
                      {% elif professor.inscricao.informacoes_academicas.info_visto == '2' %}
                      <span class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                      </span>
                    {% endif %}
                    </td>
              </tr>
              {% else %}
              {%endif%}
              </tbody>
            </table>
          </article>

          <article class="entry entry-single">
            <h4 class="text-center">
              Cursos de Aperfeiçoamento
            </h4>
            <hr>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col" style="font-weight:600;">Curso</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visualizar</th>
                <th scope="col" style="font-weight:600;" class="text-center">Aprovado</th>
                <th scope="col" style="font-weight:600;" class="text-center">Pontuação</th>
              </tr>
              </thead>
              <tbody>
              {% for certificado in certificados %}
                <tr>
                <td>{{certificado}}</td>
                <td class="text-center">
                  <a href="{{certificado.certificado.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                </td>
                <td class="text-center">
                    {% if certificado.certificado_visto == '0' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle" viewBox="0 0 16 16">
                      <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"/>
                    </svg>
                    {% elif certificado.certificado_visto == '1' %}
                    <span class="text-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                      <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                      <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708"/>
                    </svg>
                    </span>
                      {% elif certificado.certificado_visto == '2' %}
                      <span class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                      </span>
                    {% endif %}
                    </td>
                <td class="text-center">{{certificado.pontuacao}}</td>
              </tr>
              {% empty %}
              <p>...</p>
              {% endfor %}
              <tr>
                    <td class="fw-bold">Total de Pontos</td>
                    <td class="text-center">-</td>
                    <td class="text-center">-</td>
                    <td class="text-center fw-bold">{{ pontos.total_pontos }}</td>
                  </tr>
              </tbody>
            </table>
          </article>

          <article class="entry entry-single">
            <h4 class="text-center">
              Ampliações de Carga Horária Anteriores
            </h4>
            <hr>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col" style="font-weight:600;">Semestre</th>
                <th scope="col" style="font-weight:600;" class="text-center">Escola</th>
                <th scope="col" style="font-weight:600;" class="text-center">Cargo</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visualizar</th>
                <th scope="col" style="font-weight:600;" class="text-center">Aprovado</th>
              </tr>
              </thead>
              <tbody>
              {% for ampliacao in ampliacoes %}
                <tr>
                <td>{{ampliacao.semestre|slice:":2"}} - {{ampliacao.semestre|slice:"-4:"}}</td>
                <td>{%if ampliacao.escola != None %}{{ampliacao.escola}}{%endif%}</td>
                <td>{%if ampliacao.cargo != None %}{{ampliacao.cargo}}{%endif%}</td>
                <td class="text-center">
                    {% if ampliacao.anexo %}
                        <a href="{{ampliacao.anexo.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if ampliacao.requerimento_visto == '0' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle" viewBox="0 0 16 16">
                      <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"/>
                    </svg>
                    {% elif ampliacao.requerimento_visto == '1' %}
                    <span class="text-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                      <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                      <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708"/>
                    </svg>
                    </span>
                      {% elif ampliacao.requerimento_visto == '2' %}
                      <span class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                      </span>
                    {% endif %}
                    </td>
              </tr>
              {% empty %}
              <p>...</p>
              {% endfor %}

              </tbody>
            </table>
          </article>

          <article class="entry entry-single">
            <h4 class="text-center">
              Ampliações de Carga Horária Anteriores à 2021
            </h4>
            <hr>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col" style="font-weight:600;">Semestre</th>
                <th scope="col" style="font-weight:600;" class="text-center">Escola</th>
                <th scope="col" style="font-weight:600;" class="text-center">Cargo</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visualizar</th>
                <th scope="col" style="font-weight:600;" class="text-center">Aprovado</th>
              </tr>
              </thead>
              <tbody>
              {% for ampliacao in complementos %}
                <tr>
                <td>{{ampliacao.semestre|slice:":2"}} - {{ampliacao.semestre|slice:"-4:"}}</td>
                <td>{%if ampliacao.escola != None %}{{ampliacao.escola}}{%endif%}</td>
                <td>{%if ampliacao.cargo != None %}{{ampliacao.cargo}}{%endif%}</td>
                <td class="text-center">
                    {% if ampliacao.anexo %}
                        <a href="{{ampliacao.anexo.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if ampliacao.complemento_visto == '0' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle" viewBox="0 0 16 16">
                      <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"/>
                    </svg>
                    {% elif ampliacao.complemento_visto == '1' %}
                    <span class="text-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                      <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                      <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708"/>
                    </svg>
                    </span>
                      {% elif ampliacao.complemento_visto == '2' %}
                      <span class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                      </span>
                    {% endif %}
                    </td>
              </tr>
              {% empty %}
              <p>...</p>
              {% endfor %}

              </tbody>
            </table>
          </article>

          <article class="entry entry-single">
            <h4 class="text-center">
              Experiência Profissional
            </h4>
            <hr>
            <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col" style="font-weight:600;">Anos de Experiência</th>
                    <th scope="col" style="font-weight:600;" class="text-center">Pontos</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <td>{% if experiencia != None %}{{experiencia.anos_experiencia}}{% else %}0{% endif %}</td>
                    <td class="text-center">{% if experiencia != None %}{{experiencia.pontos_experiencia}}{% else %}0{% endif %}</td>
                  </tr>
                  </tbody>
                </table>
          </article>

        </div><!-- End blog entries list -->

        ><!-- End blog sidebar -->

      </div>

    </div>
  </section>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block script%}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  // Espera até que o DOM esteja pronto
  $(document).ready(function() {
    // Monitora as mudanças na opção selecionada
    $('#id_resultado').change(function() {
      // Obtém o valor selecionado
      var resultadoSelecionado = $(this).val();

      // Lógica para adicionar um comentário com base na opção selecionada
      var comentario = '';
      switch (resultadoSelecionado) {
        case 'Aprovado':
          comentario = 'Do exame da documentação acostada pelo(a) requerente {{professor}} no processo da Ampliação Definitiva/2023 do município de Pedra Branca, infere-se pelo preenchimento dos requisitos previstos nos artigos 1º e 2º, da Lei nº 829/2023, conforme se depreende da análise documental a seguir:';
          break;
        case 'Negado':
          comentario = 'Do exame da documentação acostada pelo(a) requerente {{professor}} no processo da Ampliação Definitiva/2023 do município de Pedra Branca, infere-se pelo não preenchimento dos requisitos previstos nos artigos 1º e 2º, da Lei nº 829/2023, em virtude de não ter comprovado a condição de (ESPAÇO A SER PREENCHIDO) (ex: ser professor(a) concursado(a) e efetivo(a) do município de Pedra Branca), conforme se depreende da análise documental a seguir:';
          break;
        // Adicione mais casos conforme necessário

        // Caso padrão (para outras opções que podem não ter um comentário específico)
        default:
          comentario = 'Aguardando';
      }

      // Atualiza o valor do campo de comentário
      $('#id_comentario').val(comentario);
    });
  });
</script>
{% endblock %}