{% extends 'base1.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block titulo %}Resumo Análise{% endblock %}
{% block conteudo %}
{% if user.is_administrator %}
<main id="main">
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-4">
          <div class="sidebar">
            {% if  professor.foto %}
            <img class="img-thumbnail" src="{{professor.foto.url}}">
            {% else %}
            <img class="img-thumbnail" src="{% static 'assets/img/icone.jpg'%}">
            {% endif %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">{{professor.nome}}</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">RG:</span> {{professor.rg}}</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">CPF: </span>{{professor.cpf}}</li>
              <li class="list-group-item fw-bold text-primary">Solicitação de Ampliação</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">1º Opção: </span>{% if professor.inscricao.opcao1 != None%}{{professor.inscricao.opcao1}}{% else %}{% endif %}</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">2º Opção: </span>{% if professor.inscricao.opcao2 != None%}{{professor.inscricao.opcao2}}{% else %}{% endif %}</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">3º Opção: </span>{% if professor.inscricao.opcao3 != None%}{{professor.inscricao.opcao3}}{% else %}{% endif %}</li>
              <li class="list-group-item fw-bold text-primary">Informações do Concurso</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">Ano de Realização: </span>{{professor.inscricao.concurso.realizacao}}</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">Cargo: </span>{{professor.inscricao.concurso.area}}</li>
              <li class="list-group-item" style="font-size: 0.9rem;"><span class="fw-bold">Data de Posse: </span>{{professor.inscricao.concurso.posse}}</li>
            </ul>
          </div><!-- End sidebar -->

        </div>
        <div class="col-lg-8 entries">
          <article class="entry entry-single">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Situação: {{resultado.resultado}}</h5>
                <p class="card-text">{{resultado.comentario}}</p>
                <hr>
                  <div class="d-grid gap-2 justify-content-md-end">
                    <div class="row">
                    <div class="col-md-6">
                      <a href="{% url 'inscricao:up_teste' pk=professor.pk %}" class="btn btn-outline-success btn-sm">Editar</a>
                    </div>
                    <div class="col-md-6">
                      <a href="#" class="btn btn-outline-danger btn-sm">Voltar</a>
                    </div>
                    </div>
                  </div>
              </div>
            </div>
          </article>
          <article class="entry entry-single">
            <h4 class="text-center">
              Informações Iniciais da Inscrição
            </h4>
            <hr>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col" style="font-weight:600;">Nome</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visualizar</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visto</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Termo de Posse</td>
                <td class="text-center">
                  <a href="{{professor.inscricao.nomeacao.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                </td>
                <td class="text-center">
                  {% if professor.inscricao.visto %}
                    <i class="bi bi-check-all text-primary"></i>
                  {% else %}
                    <i class="bi bi-x text-danger"></i>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Diploma</td>
                <td class="text-center">
                  <a href="{{professor.inscricao.diploma.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                </td>
                <td class="text-center">
                  {% if professor.inscricao.visto %}
                    <i class="bi bi-check-all text-primary"></i>
                  {% else %}
                    <i class="bi bi-x text-danger"></i>
                  {% endif %}
                </td>
              </tr>
              <tr>
                {% if professor.inscricao.diploma1.url != None %}
                <td>Diploma 1 </td>
                <td class="text-center">
                  <a href="{{professor.inscricao.diploma1.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                </td>
                </a>
                {% else %}
                {% endif %}

              </tr>
              <tr>
                {% if professor.inscricao.diploma2.url != None %}
                <td>Diploma 2 </td>
                <td class="text-center">
                  <a href="{{professor.inscricao.diploma2.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                </td>
                </a>
                {% else %}
                {% endif %}

              </tr>

              </tbody>
            </table>
          </article>

          <article class="entry entry-single">
            <h4 class="text-center">
              Informações Acadêmicas
            </h4>
            <hr>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col" style="font-weight:600;">Nome</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visualizar</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visto</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Formação</td>
                <td class="text-center">
                  {{professor.inscricao.informacoes_academicas.area_formacao}}
                </td>
                <td></td>
              </tr>
              {% if  professor.inscricao.informacoes_academicas.area_especializacao != None%}
              <tr>
                <td> {{professor.inscricao.informacoes_academicas.area_especializacao}}</td>
                <td class="text-center">
                  <a href="{% if professor.inscricao.informacoes_academicas.anexoChecar %}{{professor.inscricao.informacoes_academicas.anexo.url}}{% endif %}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                </td>
                <td class="text-center">
                  {% if professor.inscricao.informacoes_academicas.info_visto %}
                    <i class="bi bi-check-all text-primary"></i>
                  {% else %}
                    <i class="bi bi-x text-danger"></i>
                  {% endif %}
                </td>
              </tr>
              {% else %}
              {%endif%}
              </tbody>
            </table>
          </article>

          <article class="entry entry-single">
            <h4 class="text-center">
              Cursos de Aperfeiçoamento
            </h4>
            <hr>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col" style="font-weight:600;">Curso</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visualizar</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visto</th>
              </tr>
              </thead>
              <tbody>
              {% for certificado in certificados %}
                <tr>
                <td>{{certificado}}</td>
                <td class="text-center">
                  <a href="{{certificado.certificado.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                </td>
                <td class="text-center">
                  {% if certificado.certificado_visto %}
                    <i class="bi bi-check-all text-primary"></i>
                  {% else %}
                    <i class="bi bi-x text-danger"></i>
                  {% endif %}
                </td>
              </tr>
              {% empty %}
              <p>...</p>
              {% endfor %}

              </tbody>
            </table>
          </article>

          <article class="entry entry-single">
            <h4 class="text-center">
              Ampliações de Carga Horária Anteriores
            </h4>
            <hr>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col" style="font-weight:600;">Semestre</th>
                <th scope="col" style="font-weight:600;" class="text-center">Escola</th>
                <th scope="col" style="font-weight:600;" class="text-center">Cargo</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visualizar</th>
                <th scope="col" style="font-weight:600;" class="text-center">Visto</th>
              </tr>
              </thead>
              <tbody>
              {% for ampliacao in ampliacoes %}
                <tr>
                <td>{{ampliacao.semestre|slice:":2"}} - {{ampliacao.semestre|slice:"-4:"}}</td>
                <td>{%if ampliacao.escola != None %}{{ampliacao.escola}}{%endif%}</td>
                <td>{%if ampliacao.cargo != None %}{{ampliacao.cargo}}{%endif%}</td>
                <td class="text-center">
                    {% if ampliacao.anexo %}
                        <a href="{{ampliacao.anexo.url}}" target="_blank" class="text-danger">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if ampliacao.requerimento_visto %}
                    <i class="bi bi-check-all text-primary"></i>
                  {% else %}
                    <i class="bi bi-x text-danger"></i>
                  {% endif %}
                </td>
              </tr>
              {% empty %}
              <p>...</p>
              {% endfor %}

              </tbody>
            </table>
          </article>
        </div><!-- End blog entries list -->

        ><!-- End blog sidebar -->

      </div>

    </div>
  </section>
</main>
{% else %}
{% endif %}
{% endblock %}
{% block script%}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  // Espera até que o DOM esteja pronto
  $(document).ready(function() {
    // Monitora as mudanças na opção selecionada
    $('#id_resultado').change(function() {
      // Obtém o valor selecionado
      var resultadoSelecionado = $(this).val();

      // Lógica para adicionar um comentário com base na opção selecionada
      var comentario = '';
      switch (resultadoSelecionado) {
        case 'Aprovado':
          comentario = 'Do exame da documentação acostada pelo(a) requerente {{professor}} no processo da Ampliação Definitiva/2023 do município de Pedra Branca, infere-se pelo preenchimento dos requisitos previstos nos artigos 1º e 2º, da Lei nº 829/2023, conforme se depreende da análise documental a seguir:';
          break;
        case 'Negado':
          comentario = 'Do exame da documentação acostada pelo(a) requerente {{professor}} no processo da Ampliação Definitiva/2023 do município de Pedra Branca, infere-se pelo não preenchimento dos requisitos previstos nos artigos 1º e 2º, da Lei nº 829/2023, em virtude de não ter comprovado a condição de (ESPAÇO A SER PREENCHIDO) (ex: ser professor(a) concursado(a) e efetivo(a) do município de Pedra Branca), conforme se depreende da análise documental a seguir:';
          break;
        // Adicione mais casos conforme necessário

        // Caso padrão (para outras opções que podem não ter um comentário específico)
        default:
          comentario = 'Aguardando';
      }

      // Atualiza o valor do campo de comentário
      $('#id_comentario').val(comentario);
    });
  });
</script>
{% endblock %}