{% extends 'temp_base/base_log.html' %}
{% load static %}
{% block titulo %}Atualizar Senha{% endblock %}
{% load django_bootstrap5 %}
{% block estatico %}
<style>
    body{
    background-color: #fafafa;
    }
</style>
{% endblock %}
{% block formulario %}

<main id="main">
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center">

        <div class="col-lg-6 entries center" style="background-color: #fcfcfc;">

          <article class="entry">

            <h3 class="entry-title text-center">
              <a href="#">Atualizar Senha</a>
            </h3>

            <div class="entry-content">
              <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
                    <a href="#" type="button" class="btn btn-danger btn-block">Cancelar</a>
                </form>
            </div>

          </article><!-- End blog entry -->

        </div><!-- End blog entries list -->

      </div>

    </div>
  </section>
</main>


{% endblock %}


