{% extends 'temp_base/base_log.html' %}
{% load static %}
{% block titulo %}Senha Redefinida{% endblock %}
{% load django_bootstrap5 %}
{% block estatico %}
<style>
    body{
    background-color: #fafafa;
    }
</style>
{% endblock %}
{% block formulario %}

<main id="main">
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center">

        <div class="col-lg-6 entries center" style="background-color: #fcfcfc;">

          <article class="entry">

            <h3 class="entry-title text-center">
              <a href="#">Senha redefinida</a>
            </h3>

            <div class="entry-content">
              <p class="text-justify">
                 Sua nova senha foi redefinida.<br><br>
                 <a href="{% url 'login' %}"><button type="button" class="btn btn-primary btn-block">Fazer Login</button></a>
              </p>
            </div>

          </article><!-- End blog entry -->

        </div><!-- End blog entries list -->

      </div>

    </div>
  </section>
</main>


{% endblock %}
