{% extends 'base1.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block titulo %}Recursos{% endblock %}
{% block conteudo %}
<main id="main">
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-12 entries">
          <article class="entry">
            <h2 class="entry-title text-center">
              <a href="#">Lista de Recursos</a>
            </h2>

            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Analisado</th>
                <th scope="col">Situação</th>
                <th scope="col">Ver</th>
              </tr>
              </thead>
              <tbody>
              {% for recurso in recursos %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{recurso.inscricao}}</td>
                <td>{{recurso.inscricao.professor.matricula}}</td>
                <td>{% if recurso.resultadorecurso.recurso_visto %}
                    <span class="text-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                      <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                      <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708"/>
                    </svg>
                    </span>
                  {% else %}
                    <span class="text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                      </span>
                  {% endif %}
                </td>
                <td>{{recurso.resultadorecurso.resultado}}</td>
                <td class="text-danger">
                  <a href="{% url 'inscricao:finalizar_recurso' pk=recurso.inscricao.professor.pk %}">
                    <i class="bi bi-eye"></i>
                  </a>
                </td>
              </tr>
              {% empty %}
              <p>Sem Inscrições...</p>
              {% endfor%}
              </tbody>
            </table>
          </article><!-- End blog entry -->

        </div><!-- End blog entries list -->

      </div>

    </div>
  </section>
</main>
{% endblock %}