{% extends 'base1.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block titulo %}Lista de Professores{% endblock %}
{% block conteudo %}
<main id="main">
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-12 entries">
          <article class="entry">
            <h2 class="entry-title text-center">
              <a href="#">Lista de Professores Cadastrados</a>
            </h2>

            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Escola</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Inscrito?</th>
              </tr>
              </thead>
              <tbody>
              {% for professor in professores %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{professor.nome}}</td>
                <td>{{professor.lotado}}</td>
                <td>{{professor.matricula}}</td>
                <td class="text-danger">
                  {% if professor.inscricao %}
                  <a href="#">
                    <i class="bi bi-check-all"></i>
                  </a>
                  {% else %}
                  <i class="bi bi-x"></i>
                  {% endif %}
                </td>
              </tr>
              {% empty %}
              <p>Sem Professores...</p>
              {% endfor%}
              </tbody>
            </table>
          </article><!-- End blog entry -->

        </div><!-- End blog entries list -->

      </div>

    </div>
  </section>
</main>
{% endblock %}