{% extends 'base.html' %}
{% load static %}
{% block titulo %}Home{% endblock %}
{% block conteudo %}
  <section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h2>Ampliação Definitiva</h2>
          <p>Lançamento do edital de ampliação definitiva dos professores do município de Pedra Branca.</p>
          <a href="{% url 'login' %}" class="btn-get-started ">Inscrição</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero No Slider Sectio -->
{% endblock %}